:host {
  min-height: 50vh;
  max-height: 90vh;
  width: 90vw;
}

.advice-container {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: hsl(217deg, 19%, 24%);
  color: hsl(193deg, 38%, 86%);
  border-radius: 25px;
  display: block;
  padding: 20px 20px 80px 20px;
  transition: height 7s;
}

.headline {
  font-size: 5vh;
  color: hsl(150deg, 100%, 66%);
  text-align: center;
}

.advice {
  font-size: 7vh;
  color: hsl(193deg, 38%, 86%);
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .headline {
    font-size: 3.5vh;
  }
  .advice {
    font-size: 5vh;
  }
}
@media only screen and (min-width: 1000px) {
  .bubble-container {
    width: 50%;
    min-width: 900px;
  }
}
.ui-spacer {
  margin-bottom: 50px;
}

.pattern-divider {
  width: 80%;
  max-height: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.pattern-divider img {
  width: 100%;
  max-width: 500px;
  max-height: 50px;
}

.button-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}

.dice-btn {
  background-color: hsl(150deg, 100%, 66%);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 25px;
  position: relative;
  bottom: 40px;
}

.dice-btn:hover {
  cursor: grab;
}

.disabled {
  background-color: red;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(218deg, 23%, 16%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}