<div *ngIf="  slip$ | async as slip " class="main">
    <!--Display advice-->
    <div class="advice">
        <div class="advice__headline">Advice #{{ slip.id }}</div>
        <div class="advice__ui-spacer"></div>
        <div class="advice__slip">{{ slip.advice }}</div>
        <div class="advice__ui-spacer"></div>

        <div class="advice__pattern-divider">
            <img src="assets/images/pattern-divider-mobile.svg">
        </div>
        <div class="advice__ui-spacer"></div>
    </div>

    <!--Fetch new advice-->
    <div class="dice">
        <button class="dice__btn" [class.dice__btn--disabled]=" isDisabled " [disabled]=" isDisabled "
            (click)=" getAdvice() "><img src="assets/images/icon-dice.svg" style="width: 100%"></button>
    </div>
</div>