<div *ngIf="  slip$ | async as slipobs " class="bubble-container">
    <div class="headline">{{ slipobs.id }}</div>
    <div class="ui-spacer"></div>
    <div class="advice">{{ slipobs.advice || 'test' }}</div>
    <div class="ui-spacer"></div>

    <div class="pattern-divider">
        <img src="assets/images/pattern-divider-mobile.svg" style="width: 100%">
    </div>
    <div class="ui-spacer"></div>
</div>

<div class="button-container">
    <button class="dice-btn" (click)=" getAdvice() "><img src="assets/images/icon-dice.svg"
            style="width: 100%"></button>
</div>